<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free Bootstrap Admin Template : Binary Admin</title>
  <!-- BOOTSTRAP STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/Quiz.css">
  <link rel="stylesheet" href="/styles/morris-0.4.3.min.css">
  <!--STYLES END-->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/Quizcrud.js"></script>
  <script src="/js/quizpass.js"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script>var id = JSON.stringify(<%- id %>);
   </script>

  <script src="/js/jquery.metisMenu.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script src="/js/dataTables/dataTables.bootstrap.js"></script>
  <script src="/js/dataTables/jquery.dataTables.js"></script>
  <script src="/js/morris/morris.js"></script>
  <script src="/js/morris/raphael-2.1.0.min.js"></script>
</head>






<body onload="getthequiz(id);">

<!-- MENU SECTION END-->
<div class="content-wrapper">
  <div class="container">

      <div class="col-md-12">
        <div id="containerquiz">
          <div id='titlequiz'>
            <h1>Learning Js Properly: Project #1 - Dynamic Quiz</h1>
          </div>
          <br/>
          <div id='quiz'></div>
          <div class='button' id='next'><a href='#'>Next</a></div>
          <div class='button' id='prev'><a href='#'>Prev</a></div>
          <div class='button' id='start'> <a href='#'>Exit</a></div>

      </div>
    </div>

        </div>
      </div>



<!-- CONTENT-WRAPPER SECTION END-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        &copy; 2016 Esprit  <a href="http://www.esprit.com.tn" target="_blank"></a>
      </div>

    </div>
  </div>
</footer>
<!-- FOOTER SECTION END-->


<!-- GOOGLE ADD SECTION START -->
<div id="add-div-main">
  <link href="${pageContext.request.AcontextPath}/Resource/css/add-style.css" rel="stylesheet" />
  <div class="add-wrapper-db">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="add-block">
            <a href="http://www.designbootstrap.com/" title="DesignBootstrap.com Free Bootstrap Templates & Snippets"

               target="_target">

              .                     </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
          <div class="add-block" id="ftr-large-add"  >
            <center>
              <script async src="../../../../../../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
              <!-- db-footer-one-728-90 -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-2936243881134126"
                   data-ad-slot="5253257896"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </center>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



</div>



<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->



</body>

