
<body >


    <!-- MENU SECTION END-->
  <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Gestion Quiz </h1>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                           Formulaire Quiz
                        </div>
                        <div class="panel-body">

     <div class="form-group">

    <label for="exampleInputLogin">Date</label>
    <input type="date" class="form-control" id="date"  placeholder="Enter date" />


    <label for="exampleInputTel">Duree</label>
    <input type="number" class="form-control" id="duree" placeholder="Number" />


    <label for="exampleInputDep">Module</label>
    <input type="text" class="form-control" id="module" placeholder="module" />

    <label for="exampleInputDep">Niveau</label>
    <input type="number" class="form-control" id="niveau" placeholder="niveau" />
    </div>

  <button class="btn btn-primary"  id="create" onclick="addQuiz();">Submit</button>
  <button type="reset" class="btn btn-default">Cancel</button>
                           <hr />


                            </div>
                            </div>
                    </div>
                     <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                           Liste des Quiz
                        </div>

                        <div class="panel-body">
                        <div id="question"></div>
<script></script>
                        </div>
                </div>
                 </div>

        </div>
    </div>


    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2016 Esprit  <a href="http://www.esprit.com.tn" target="_blank"></a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->


<!-- GOOGLE ADD SECTION START -->
    <div id="add-div-main">
        <link href="${pageContext.request.AcontextPath}/Resource/css/add-style.css" rel="stylesheet" />
        <div class="add-wrapper-db">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="add-block">
                            <a href="http://www.designbootstrap.com/" title="DesignBootstrap.com Free Bootstrap Templates & Snippets"

target="_target">

       .                     </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
                        <div class="add-block" id="ftr-large-add"  >
<center>
<script async src="../../../../../../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
<!-- db-footer-one-728-90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2936243881134126"
     data-ad-slot="5253257896"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



                </div>



             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->



</body>

